Subject: Update on tasks to prepare our new debate on marxism.
From: Slavoj Zizek <slavoj.zizek@example.com>
Reply-To: Slavoj Zizek <slavoj@zizek.com>
To: Jordan Peterson <jordan.peterson@example.com>
Content-Language: en
Content-Type: text/html
X-Mailer: ReportWarrior by Mail

{% include "basic.html.njk" %}
